extends layout

block content
  h1 #{pageTitle}
  
  each service, i in services
    .card.mb-3
      .card-body
        h3 #{service.name}
        p #{service.description}
        p
          | Price Range: #{service.price_range}